<div class="row">
    <h3 class="small-12 medium-12 column text-center"><%= t("admin.double_verification.user_blocked_info") %></h3>
</div>
<br>
<div class="row">
    <h4 class="small-12 medium-12 column text-center"><%= t("admin.double_verification.user_blocked_description") %></h4>
</div>
