<div class="callout highlight margin-top text-center">
  <p class="lead"><strong><%= t("proposals.proposal.improve_info") %></strong></p>
  <%= link_to t("proposals.proposal.improve_info_link"), kit_decide_path, class: "button" %>
</div>
